.folder {
  position: relative;
}

.folder-item {
  position: relative;
}

.folder .folder-item:before {
  content: '';
  display: block;
  width: 31px;
  height: 25px;
  position: absolute;
  border: 2px solid theme('colors.slate.700');
  border-radius: 0 0 0 18px;
  border-top: 0;
  border-right: 0;
  left: -17px;
  top: 1px;
  margin-bottom: -25px;
  z-index: 11;
}

.folder::after {
  content: '';
  display: block;
  width: 2px;
  height: calc(100% - 14px);
  position: absolute;
  top: -20px;
  left: -17px;
  background-color: theme('colors.slate.700');
  z-index: 9;
}

.folder li:last-child::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: -20px;
  width: 8px;
  height: calc(100% - 40px);
  background-color: theme('colors.slate.800');
  z-index: 10;
}
